@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap");


.navbar{
  width: 90%;
  background: transparent;
  color: rgb(36, 8, 58);
  z-index: 100;
  display: flex;
  justify-content: end;
  margin-top: 25px;}

.navbar-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-items{
  order: 2;
  display: flex;
}


.menu-items li{
  list-style: none;
  margin-left: 3.5rem;
}

.navbar a{
  font-size: 30px;
  text-decoration: none;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
}

.navbar a:hover{
  color: #04aa6d;
}

a {
  color: rgb(24, 17, 60);
}

a:link {
  font-size: 35px;
  text-decoration: none;

}

a:visited {
  text-decoration: none;
  color: rgb(24, 17, 60);

}

a:hover {
  text-decoration: none;
  color: rgb(70, 191, 82);
}

a:active {
  text-decoration: none;

}

@media screen and (max-width: 1700px) and (max-height:820px) {
  .navbar{
    width: 90%;
    margin-top: 15px;}
  
  .navbar a{
    font-size: 30px;
}
  .logo{
    width: 60px;
  }
}
@media screen and (max-width: 955px) {
  .navbar{
    width: 90%;
    margin-top: 18px;}
  
  .navbar a{
    font-size: 25px;
}
  .logo{
    width: 60px;
  }
}
@media screen and (max-width: 760px) {
  .navbar{
    width: 90%;
    margin-top: 18px;}
  
  .navbar a{
    font-size: 22px;
}
  .logo{
    width: 60px;
  }
  .menu-items li{
    list-style: none;
    margin-left: 1.5rem;
  }
}
@media screen and (max-height: 480px) {
  .navbar{
    width: 90%;
    margin-top: 2px;}
  
}
@media screen and (max-width:415px) {
  .navbar{
    width: 90%;
    margin-top: 12px;}
  
  .navbar a{
    font-size: 14px;
}
  .logo{
    width: 40px;
  }
  .menu-items li{
    list-style: none;
    margin-left: 1.5rem;
  }
  
}