@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap");

.layout {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
  box-shadow: 15px 15px 10px rgba(122, 73, 102, 0.3);
  background-color: #f9f1cd;
  z-index: 0;
}
.cafe-title {
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-size: 80px;
  color: rgb(251, 239, 214);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
  background-color: #14a871;
  border-bottom: 8px solid rgb(185, 232, 90);
}
.powerside{
  max-width: 55%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -30%);
}
.powerups {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-60%, -50%);
  margin-top: 100px;
  width: 100%;
}

.power-title {
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.avac-img{
  margin-top: -20px;
}

.powerups button {
  background-color: #04aa6d;
  border: 1px solid green;
  margin: 8px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  padding: 14px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
.powerups button:hover {
  background-color: rgb(185, 232, 90);
  color: black;
}


.counter {
  position: relative;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.num-of-clicks {
  margin-top: 15px;
  transform: translate(-0%, -50%);
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #14a871;
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.gameside{
  max-width: 100%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -30%);
}
.instructions {
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  top: -10%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.how-title {
  position: relative;
  top: -8%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.how-play {
 
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: rgb(185, 80, 14);
}
.game-funcs {
  position: relative;
  top: 20%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.game-funcs button {
  background-color: #04aa6d;
  border: 1px solid green;
  margin: 8px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  padding: 14px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
.game-funcs button:hover {
  background-color: rgb(185, 232, 90);
  color: black;
}
.caf-head{
  width: 100%;
  height: 20vh;
  background: linear-gradient(to bottom, #7fc68c, #d2ad50, #f7e5cd);
  text-align: center;
  transform: translate(0%, 400%);

}
.welcome{
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-size: 80px;
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
  margin-top: 50px;
  color: #f9f1cd;
}
.cafe-container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 85%);
}
.cafe-img{
  border:8px solid #f9f1cd;
}
@media screen and (max-width: 1700px) {
  .powerside{
   
    top: 55%;
    left: 10%;
    transform: translate(-50%, -30%);
  }
  .counter {
    font-size: 50px;
  }
  .num-of-clicks {
    font-size: 70px;
  }
  .power-title {
    font-size: 50px;
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    font-size: 18px;
    padding: 5px;
  }
  .powerups {
    margin-top: 50px;
  }
  
  .avac-img{
    width: 350px;
    
  }
  .instructions {
    width: 150%;
    top: 25%;
   
  }
  .how-title {
    top: 25%;
    transform: translate(-50%, -50%);
    font-size: 40px;
   
  }
  .how-play {
    font-size: 14px;
    letter-spacing: 1.5px;
  }
  
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    padding: 5px;
  }
  .gameside{
    left: 88%;
  }
 
}

@media screen and (max-width: 1350px) {
  .powerside{
    top: 55%;
    left: 12%;
    transform: translate(-50%, -30%);
  }
 
  .num-of-clicks {
    font-size: 70px;

  }
  .power-title {
    font-size: 50px;
    
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    font-size: 18px;
    padding: 5px;
  }
  .powerups {
    margin-top: 50px;
  }
  
  .avac-img{
    width: 350px;
    
  }
  .instructions {
    width: 150%;
    top: 25%;
   
  }
  .how-title {
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 40px;
   
  }
  .how-play {
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 20px;
  }
  
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    padding: 5px;
  }
  .gameside{
    left: 88%;
  }
  .cafe-img{
    width: 900px;
  }
  .cafe-container{
    top: 64%;
    left: 50%;
    transform: translate(-50%, 85%);
  }
}
@media screen and (max-width: 1150px) {
  .powerside{
    top: 55%;
    left: 15%;
    transform: translate(-50%, -30%);
  }

  .num-of-clicks {
    font-size: 75px;

  }
  .counter{
    font-size: 40px;
  }
  .power-title {
    font-size: 40px;
    
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    font-size: 18px;
    padding: 5px;
  }
  .powerups {
    margin-top: 50px;
  }
  
  .avac-img{
    width: 300px;
    
  }
  .instructions {
    width: 150%;
    top: 25%;
   
  }
  .how-title {
    top: 25%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 40px;
   
  }
  .how-play {
    font-size: 14px;
    letter-spacing: 1px;
    margin-right: 20px;
  }
  
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    padding: 5px;
  }
  .gameside{
    left: 85%;
  }
}
@media screen and (max-width: 937px){
  .cafe-img{
    width: 650px;
  }
  .cafe-container{
    top: 75%;
    left: 50%;
    transform: translate(-50%, 85%);
  }
 
}
@media screen and (max-width: 900px) {
  .powerside{
    top: 55%;
    left: 15%;
    transform: translate(-50%, -30%);
  }

  .num-of-clicks {
    font-size: 75px;

  }
  .counter{
    font-size: 40px;
  }
  .power-title {
    font-size: 40px;
    
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    font-size: 18px;
    padding: 5px;
  }
  .powerups {
    margin-top: 50px;
  }
  
  .avac-img{
    width: 300px;
    margin-left: 200px;
    margin-top: -40px;
    
  }
  .instructions {
    width: 180%;
    top: 25%;
    left: -110%;
   
  }
  .how-title {
    top: 22%;
    left: -120%;
    transform: translate(-50%, -50%);
    font-size: 30px;
   
  }
  .how-play {
    font-size: 13px;
    letter-spacing: 1px;
    margin-right: 30px;
  }
  .game-funcs{
    top: 75%;
  }
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    padding: 5px;
  }
  .gameside{
    left: 85%;
  }
  .cafe-img{
    width: 650px;
  }
  .cafe-container{
    top: 75%;
    left: 50%;
    transform: translate(-50%, 85%);
  }
}
@media screen and (max-width: 819px) {
  .cafe-img{
    width: 450px;
  }
  .cafe-container{
    top: 83%;
    left: 50%;
    transform: translate(-50%, 85%);
  }
  .welcome{
    font-size: 55px;
  }
  }
  @media screen and (max-width: 795px) {
    .powerside{
      top: 50%;
      left: 15%;
      transform: translate(-50%, -30%);
    }
  
    .num-of-clicks {
      margin-top: 30px;
      font-size: 55px;
  
    }
    .counter{
      font-size: 30px;
    }
    .power-title {
      top: 30%;
      font-size: 30px;
      
    }
    
    .powerups button {
      background-color: #04aa6d;
      border: 1px solid green;
      font-size: 14px;
      padding: 5px;
      margin-left: 10px;
    }
    .powerups {
      margin-top: -20px;
    }
    
    .avac-img{
      margin-top: -40px;
      margin-left: 200px;
      width: 240px;
      
    }
    .instructions {
      top: 30%;
      left: 12%;
      width: 400px;
      
    }
    .how-title {
      margin-top: -85px;
      left: -40%;
      font-size: 40px;
     
    }
    .how-play {
      margin: -90px;
      font-size: 14px;
      letter-spacing: 1px;
      margin-right: 30px;
    }
    .game-funcs{
      left: 45%;
      top: 20%;
    }
    
    .game-funcs button {
      background-color: #04aa6d;
      border: 1px solid green;
      margin: 4px;
      margin-left: 14px;
      font-size: 18px;
      color: white;
      padding: 2px;
      width: 50%;
    }
    .gameside{
      top: 80%;
      left: 85%;
    }
    .cafe-img{
      width: 650px;
    }
    .cafe-container{
      top: 75%;
      left: 50%;
      transform: translate(-50%, 85%);
    }
  }
  @media screen and (max-width: 709px) {
    .powerside{
      top: 55%;
      left: 18%;
      transform: translate(-50%, -30%);
    }
  
    .num-of-clicks {
      margin-top: 30px;
      font-size: 55px;
  
    }
    .counter{
      font-size: 30px;
    }
    .power-title {
      top: 30%;
      font-size: 30px;
      
    }
    
    .powerups button {
      background-color: #04aa6d;
      border: 1px solid green;
      font-size: 14px;
      padding: 5px;
      margin-left: 10px;
    }
    .powerups {
      margin-top: -20px;
    }
    
    .avac-img{
      margin-top: -40px;
      margin-left: 150px;
      width: 240px;
      
    }
    .instructions {
      margin-top: -30px;
      left: 5%;
      width: 400px;
      
    }
    .how-title {
      margin-top: -50px;
      left: -25%;
      font-size: 30px;
     
    }
    .how-play {
      margin: -60px;
      margin-top: -50px;
      font-size: 11px;
      letter-spacing: 1px;
      margin-right: 30px;
    }
    .game-funcs{
      top: 20%
    }
    
    .game-funcs button {
      background-color: #04aa6d;
      border: 1px solid green;
      margin: 4px;
      margin-left: 14px;
      font-size: 14px;
      color: white;
      padding: 2px;
      width: 40%;
    }
    .gameside{
      top: 80%;
      left: 95%;
    }
    .cafe-img{
      width: 400px;
    }
    .cafe-container{
      top: 87%;
      left: 50%;
      transform: translate(-50%, 85%);
    }
  }
  @media screen and (max-width: 600px) {
    .powerside{
      top: 50%;
      left: 18%;
      transform: translate(-50%, -30%);
    }
  
    .num-of-clicks {
      margin-top: 30px;
      font-size: 55px;
  
    }
    .counter{
      font-size: 25px;
    }
    .power-title {
      top: 30%;
      font-size: 25px;
      
    }
    
    .powerups button {
      background-color: #04aa6d;
      border: 1px solid green;
      font-size: 14px;
      padding: 5px;
      margin-left: 10px;
    }
    .powerups {
      margin-top: -20px;
    }
    
    .avac-img{
      margin-top: -40px;
      margin-left: 130px;
      width: 220px;
      
    }
    .instructions {
      margin-top: -10px;
      left: 1%;
      width: 300px;
      
    }
    .how-title {
      margin-top: -30px;
      left: -25%;
      font-size: 30px;
     
    }
    .how-play {
      margin: -60px;
      margin-top: -70px;
      font-size: 14px;
      letter-spacing: 1px;
      margin-right: 30px;
    }
    .game-funcs{
      top: 20%
    }
    
    .game-funcs button {
      background-color: #04aa6d;
      border: 1px solid green;
      margin: 4px;
      margin-left: 14px;
      font-size: 14px;
      color: white;
      padding: 2px;
      width: 40%;
    }
    .gameside{
      top: 75%;
      left: 105%;
    }
    .cafe-img{
      width: 400px;
    }
    .cafe-container{
      top: 87%;
      left: 50%;
      transform: translate(-50%, 85%);
    }
  }
  @media screen and (max-width: 462px) {
    .powerside{
      top: 64%;
      left: 19%;
      transform: translate(-50%, -30%);
    }
  
    .num-of-clicks {
      margin-top: 30px;
      font-size: 55px;
  
    }
    .counter{
      font-size: 25px;
    }
    .power-title {
      top: 25%;
      font-size: 25px;
      
    }
    
    .powerups button {
      background-color: #04aa6d;
      border: 1px solid green;
      font-size: 14px;
      padding: 5px;
      margin-left: 10px;
    }
    .powerups {
      margin-top: -60px;
    }
    
    .avac-img{
      margin-top: -40px;
      margin-left: 130px;
      width: 190px;
      
    }
    .instructions {
      margin-top: -10px;
      left: 1%;
      width: 300px;
      
    }
    .how-title {
      margin-top: -30px;
      left: -35%;
      font-size: 30px;
     
    }
    .how-play {
      margin: -60px;
      margin-top: -70px;
      font-size: 10px;
      letter-spacing: 1px;
      margin-right: 30px;
    }
    .game-funcs{
      top: 28%;
    }
    
    .game-funcs button {
      background-color: #04aa6d;
      border: 1px solid green;
      margin: 4px;
      margin-left: 14px;
      font-size: 12px;
      color: white;
      padding: 2px;
      width: 40%;
    }
    .gameside{
      top: 80%;
      left: 105%;
    }
    .cafe-img{
      width: 400px;
    }
    .cafe-container{
      top: 87%;
      left: 50%;
      transform: translate(-50%, 85%);
    }
  }
  @media screen and (max-width: 452px) {
    .powerside{
      top: 64%;
      left: 23%;
      transform: translate(-50%, -30%);
    }
  
    .num-of-clicks {
      margin-top: 30px;
      font-size: 45px;
  
    }
    .counter{
      font-size: 20px;
    }
    .power-title {
      top: 20%;
      font-size: 20px;
      
    }
    
    .powerups button {
      background-color: #04aa6d;
      border: 1px solid green;
      font-size: 12px;
      padding: 3px;
      margin-left: 10px;
    }
    .powerups {
      margin-top: -80px;
    }
    
    .avac-img{
      margin-top: -40px;
      margin-left: 130px;
      width: 180px;
      
    }
    .instructions {
      margin-top: -10px;
      left: -22%;
      width: 200px;
      
    }
    .how-title {
      margin-top: -50px;
      left: -55%;
      font-size: 30px;
     
    }
    .how-play {
      margin: -60px;
      margin-top: -70px;
      font-size: 10px;
      letter-spacing: 1px;
      margin-right: 10px;
    }
    .game-funcs{
      top: 25%;
      left: 44%
    }
    
    .game-funcs button {
      background-color: #04aa6d;
      border: 1px solid green;
      margin: 6px;
      margin-left: 14px;
      font-size: 12px;
      color: white;
      padding: 2px;
      width: 40%;
    }
    .gameside{
      top: 80%;
      left: 95%;
    }
    .cafe-img{
      width: 300px;
    }
    .welcome{
      font-size: 40px;
    }
    .cafe-container{
      top: 90%;
      left: 50%;
      transform: translate(-50%, 85%);
    }
  }
@media screen and (max-height: 895px) {
 
  .instructions {
    width: 150%;
    top: 10%;
   
  }
  .how-title {
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 40px;
   
  }

}
@media screen and (max-height: 790px) {
  .powerside{
    top: 60%;
    transform: translate(-50%, -30%);
  }

  .counter{
    font-size: 35px;
  }

  .power-title {
    font-size: 40px;
    
  }
  .instructions {
    width: 150%;
    top: 10%;
   
  }
  .how-title {
    top: 10%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  .avac-img{
    width: 300px;
    
  }
  .game-funcs {
    top: 25%;
  }

}

@media screen and (max-height: 741px) {
  .powerside{
    top: 60%;
    transform: translate(-50%, -30%);
  }

  .counter{
    font-size: 35px;
  }

  .power-title {
    font-size: 40px;
    
  }
  .powerups {
    margin-top: 30px;
  }
  .power-title{
    top: 35%;
  }
  .instructions {
    width: 150%;
    top: 2%;
   
  }
  .how-title {
    top: 8%;
    transform: translate(-50%, -50%);
    font-size: 40px;
  }
  .avac-img{
    width: 250px;
    
  }
  .game-funcs {
    top: 30%;
  }
  .how-play {
    font-size: 11px;
    letter-spacing: 1px;
  }

}
@media screen and (max-height: 651px) {
  .powerside{
    top: 65%;
    transform: translate(-50%, -30%);
  }

  .counter{
    font-size: 32px;
  }
  .num-of-clicks{
    margin-top: 5px;
    font-size: 50px;
  }
  .power-title {
    font-size: 32px;
    
  }
  .powerups {
    left: 60%;
    margin-top: -2px;
  }
  .power-title{
    top: 30%;
  }
  .powerups button {
    margin: 4px;
    font-size: 16px;
  }
  .instructions {
    width: 190%;
    top: 12%;
   
  }
  .how-title {
    top: 15%;
    transform: translate(-50%, -50%);
    font-size: 30px;
  }
  .avac-img{
    width: 200px;
    
  }
  .game-funcs button {
    font-size: 16px;
    margin: 2px;
  }
  .game-funcs {
    top: 38%;
  }
  .how-play {
    font-size: 11px;
    letter-spacing: 1px;
  }

}
