@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Dosis&display=swap");

.layout {
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70vh;
  box-shadow: 15px 15px 10px rgba(122, 73, 102, 0.3);
  background-color: #f9f1cd;
  z-index: 0;
}
.cafe-title {
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-size: 80px;
  color: rgb(251, 239, 214);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
  background-color: #14a871;
  border-bottom: 8px solid rgb(185, 232, 90);
}
.powerside{
  max-width: 55%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -30%);
}
.powerups {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-60%, -50%);
  margin-top: 100px;
  width: 100%;
}

.power-title {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}

.powerups button {
  background-color: #04aa6d;
  border: 1px solid green;
  margin: 8px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  padding: 14px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
.powerups button:hover {
  background-color: rgb(185, 232, 90);
  color: black;
}


.counter {
  position: relative;
  left: -39%;
  top: -62%;
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.num-of-clicks {
  position: relative;
  left: -39%;
  top: -60%;
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #14a871;
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.gameside{
  max-width: 100%;
  height: 50vh;
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translate(-50%, -30%);
}
.instructions {
  width: 100%;
  color: white;
  position: relative;
  text-align: center;
  top: 2%;
  left: 40%;
  transform: translate(-50%, -50%);
  padding: 10px;
}
.how-title {
  position: relative;
  top: -2%;
  left: 40%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
  font-size: 60px;
  color: rgb(36, 8, 58);
  text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
}
.how-play {
 
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.5px;
  color: rgb(185, 80, 14);
}
.game-funcs {
  position: relative;
  top: 15%;
  left: 37%;
  transform: translate(-50%, -50%);
}

.game-funcs button {
  background-color: #04aa6d;
  border: 1px solid green;
  margin: 8px;
  margin-left: 20px;
  font-size: 24px;
  color: white;
  padding: 14px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-family: "Caveat", cursive;
  font-family: "Dosis", sans-serif;
  font-weight: 400;
}
.game-funcs button:hover {
  background-color: rgb(185, 232, 90);
  color: black;
}
/* @media screen and (max-width: 1500px) {

  .counter {
    top: -60%;
    font-size: 30px;
  }
  .num-of-clicks {
    top: -57%;
    font-size: 50px;
  }
  .power-title {
    top: -53%;
    font-size: 30px;
    
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 10px;
    font-size: 18px;
    padding: 5px;
  }
  .powerups {
    position: relative;
    top: -29vh;
    margin-top: -5%;
  }
  .avac-img{
    width: 550px;
    margin-top: -45px;
  }
  .instructions {
    right: -63.5%;
    top: -517px;
    padding: 10px;
    width: 350px;
  }
  .how-title {
    position: relative;
    right: -33%;
    top: -480px;
    font-size: 35px;
   
  }
  .how-play {
   
    font-family: "Caveat", cursive;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: rgb(185, 80, 14);
  }
  .game-funcs {
    position: relative;
    top: -70vh;
    right: -780PX;
  }
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 18px;
    color: white;
    padding: 5px;
    
  }
}
@media screen and (max-width: 415px) {
  .layout {
    width: 100%;
  }
  .counter {
    top: -38%;
    font-size: 30px;
    left: -28%;
  }
  .num-of-clicks {
    top: -38%;
    font-size: 50px;
    left: -31%;

  }
  .cafe-title {
    font-family: "Caveat", cursive;
    font-family: "Dosis", sans-serif;
    font-size: 50px;
    color: rgb(251, 239, 214);
    text-shadow: 25px 20px 20px rgba(0, 0, 0, 0.2);
    background-color: #14a871;
    border-bottom: 8px solid rgb(185, 232, 90);
  }
  .avac-img{
    width: 470px;
    margin-top: -35px;
    margin-left: 65px;
  }
  .power-title {
    top: -35%;
    font-size: 25px;
    left: -30%;
  }
  
  .powerups button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
    width: 30%;
  }
  .powerups {
    position: relative;
    top: -22vh;
    margin-top: -5%;
    left: 3%;

  }


  .instructions {
    right: -6%;
    top: -280px;
    padding: 10px;
    width: 350px;
  }
  .how-title {
    position: relative;
    right: -4%;
    top: -232px;
    font-size: 35px;
   
  }
  .how-play {
   
    font-family: "Caveat", cursive;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1.5px;
    color: rgb(185, 80, 14);
  }
  .game-funcs {
    position: relative;
    top: -25vh;
    right: -220PX;
  }
  
  .game-funcs button {
    background-color: #04aa6d;
    border: 1px solid green;
    margin: 8px;
    margin-left: 20px;
    font-size: 14px;
    color: white;
    padding: 5px;
    width: 30%;;
    
  }
} */